.pokemon-evolution-title {
  font-style: italic;
  font-size: 18px;
  color: salmon;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}
.evolution-details-container {
  width: 300px;
  background-color: rgb(14, 117, 77);
  color: aliceblue;
  margin: 6px auto;
  font-family: "Cabin", sans-serif;
  padding: 6px 0px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 160%;
}
.evolution-details-font {
  color: rgb(182, 221, 66);
  font-size: 22px;
}

.back-button {
  background-color: rgb(58, 111, 209);
  color: aliceblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.back-button:hover {
  background-color: rgb(168, 41, 41);
}
