.pokemon-details-container {
  width: 400px;
  margin: 0 auto;
  color: aliceblue;
  padding: 10px;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  border-radius: 6px;
  text-align: left;
}
.divider-details-card {
  width: 100%;
  height: 1px;
  background-color: antiquewhite;
  opacity: 0.2;
}

.button {
  background-color: rgb(66, 88, 128);
  border: none;
  color: aliceblue;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 4px;
}
.button:hover {
  background-color: rgb(91, 112, 151);
}

.back-button {
  background-color: rgb(58, 111, 209);
  color: aliceblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.back-button:hover {
  background-color: rgb(168, 41, 41);
}
